@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.alta {
    font-family: 'Alata';
}

.jose {
    font-family: 'Josefin Sans';
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(14, 13, 13, 0), rgba(14, 14, 14, 0.867));
}

.overlay:hover {
    background: rgba(255, 255, 255, 0.449);
    cursor: pointer;
}

.overlayMobile {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, rgba(14, 13, 13, 0), rgba(0, 0, 0, 0.789));
}